<div id="ListMenuProduct">
    <h3>Những dòng sản phẩm thái dương năng đang được Sơn Hà cung cấp ra thị trường</h3>
    <div id="Content_ListMenuProduct">
        @Html.Raw(ViewBag.chuoi) 
    </div>
</div>