 
@{
    Layout = "~/Views/Shared/_LayoutDefault.cshtml";
}

<div id="Contents">
    <div class="Clear"></div>
    <div class="Root">
        @Html.Raw(ViewBag.nUrl)
    </div>
    <div class="Clear"></div>
    @{Html.RenderAction("TuvanPartial", "Default");}
    <div id="Products">
        @Html.Raw(ViewBag.chuoi)
         
    </div>
    <div class="Clear"></div>
</div>