<div id="RightNews">
    <div class="nVar_1">
        <span>Chuyên mục chính</span>
    </div>
    <div class="ListMenu">
        <a href="/2/Tin-tuc" title="Tin tức">› Tin tức</a>
        <a href="/2/Tuyen-dung" title="Tuyển dụng">› Tuyển dụng</a>
        <a href="/2/Tu-van-ky-thuat" title="Tư vấn kỹ thuật">› Tư vấn kỹ thuật</a>
    </div>
</div>
